@import 'helper/variables';

html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-size: 2.2rem;
	background: -webkit-linear-gradient(-90deg, $red, rgba(0,0,0,1));
	background: -moz-linear-gradient(180deg, $red, rgba(0,0,0,1));
	background: linear-gradient(180deg, $red, rgba(0,0,0,1));
	color: #000;
}

p, span.rating {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: $font-desktop * 1rem;
	line-height: 1.5;
	text-align: justify;
}

h1, h2 {
	line-height: 1;
	margin-top: 0;
}

h1, h2, h3 { 
	font-family: Trebuchet MS, Arial, sans-serif; 
}

h1 { font-size: 3.2rem; }
h2 { font-size: 2.4rem; }

h3 {
	color: #666;
	font-size: small;
}

span.rating::before {
	content: 'Rating: ' + '★ ★ ★ ★ ☆';
}

span.movie-title {
	color: red;
	font-weight: bolder;
}

.right {
	float: right;
	margin-left: 1rem;
}

.left {
	float: left;
	margin-right: 1rem;
}

.illustration {
	width: 60%;
	height: auto;
}

article#review-of-movie-300 {
	margin: 8rem;
	padding: 3.4rem;
	border: 3px solid #000;
	background: #fff;
	color: inherit;

	figure {
		margin: 0;padding: 0; font-size: 0;
	}

	figure img {
		margin: 1rem 0;
		width: 100%;
		border: 1px solid #000;
	}

	 > p:first-of-type {
	
		&:first-letter {
			float: left;
			font-size: 6.3rem;
			margin-top: .6rem;
			margin-right: .6rem;
			background-image: url('../../assets/images/tree-of-death.jpg');
			background-color: #000;
			background-size: cover;
			background-position: 50% 50%;
			color: #fff;
			padding: 2.5rem;
			border: 2px solid $red;
		}
	
		&:first-line {
			font-variant: small-caps;
		}
	} 
}	

ol li#footnote { font-size: small; }

@media screen and (max-width: 800px) {

	article#review-of-movie-300 {
		margin: 0;
		border: 0;
	}
}

@media screen and (max-width: 500px) {
	article#review-of-movie-300 {
		p {	font-size: $font-mobile * 1rem;	}
	}

	.right, .left {
		float: none;
		display: block;
		width: 100%;
		margin: 2rem 0;
	}	
}